
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
}

header {
    background-color: hsl(130, 100%, 50%);
    color: rgb(3, 0, 0);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul.hidden {
    display: none;
}

nav a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.intro {
    text-align: center;
    padding: 40px;
    background: #f4f4f4;
}

.intro img.perfil {
    width: 150px;  
    height: 150px; 
    margin-top: 10px;
}


section {
    padding: 20px;
    margin: 20px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    background: #00ff22;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

.card a {
    color: #000000;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.foto-redonda {
    width: 150px;        
    height: 150px;       
    border-radius: 50%; 
    object-fit: cover;   
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #33ff00;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #ffd700;
}


footer {
    text-align: center;
    padding: 10px;
    background: #00ff0d;
    color: rgb(0, 0, 0);
}
